*{
    margin: 0%;
    padding: 0%;
}
.card{
    margin: auto;
    padding: 10px 100px 10px 100px;
    margin: 10px;
   
}
.title a{
    color: #d31718;
}
.additional a{
    color: #d31718;
}
.ml-auto{
    margin-left: auto !important;
    display: flex;
}
.mr-0{
    margin-right: 0 !important;
}
.nav{
    display: flex;
}
body nav ul{
    list-style-type: none;
}
body nav ul li a{
    margin: 0 30px;
    color: black;
}
.btn{
    background-color: #d31718;
    border-radius: 10%;
    padding: 5px;
    border-color: #d31718;
}
.title{
    display: flex;
}
.heading{
    padding-left: 10px;
    padding: 50px 0 40px 0;
}
.heading p {
    padding-bottom: 40px;
}
.intro{
    display: flex;
    padding: 0 0 40px 30px;

}
.additional{
    display: flex;
}
.additional .box{
    padding: 0 20px 10px 20px;
}
.box .head{
    display: flex;
    padding-bottom: 10px;
}
.box .head h3{
    padding-left: 10px;
}
.box p{
    padding-bottom: 10px;
}
.box img{
    margin: 10px;
    
}

.premium{

    padding: 40px;
    text-align: center;   
}
.premium h1{
    padding-bottom: 10px;
}
.premium .btn{
    padding: 5px 15px 5px 15px;
    margin: 20px 0 20px 0;
    background-color: #d31718;
    border-radius: 10%;
    border-color: #d31718;
    color: white;
}
.social{
    text-align: center;
    padding: 40px;
    background-color: #373744;
    color: white;
}